@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08090A;
  --foreground: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090A;
    --foreground: #f9f9f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins";
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/BricolageGrotesque-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}



