@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08090A;
  --foreground: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08090A;
    --foreground: #f9f9f9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

@font-face {
  font-family: 'Bricolage';
  src: url('/src/app/fonts//BricolageGrotesque-Regular.ttf') format('ttf'),
       url('/src/app/fonts//BricolageGrotesque-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BricolageBold';
  src: url('/src/app/fonts//BricolageGrotesque-ExtraBold.ttf') format('ttf'),
       url('/src/app/fonts//BricolageGrotesque-ExtraBpold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

